.cookie {
   padding: 20px;

   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 16;

   @media (min-width:1024px) {}

   &__body {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #151519;
      border-radius: 10px;

      @media (min-width:1024px) {
         padding: 20px;
         flex-direction: row;
      }
   }

   &__text {
      padding: 10px;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: -0.02em;
      color: #A9ABB5;

      @media (min-width:1024px) {
         padding-left: 30px;
         padding-right: 30px;
         font-size: 24px;
      }

      a,
      button {
         color: #ffffff;
         text-decoration: underline;
      }
   }

   .cookie__agree {
      width: 100%;

      @media (min-width:1024px) {
         width: auto;
      }
   }
}