.start {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 20;
   width: 100%;
   height: var(--vh);
   display: flex;
   flex-direction: column;
   width: 100%;
   overflow: hidden;
   transition: transform var(--tr-time);

   &__r,
   &__m {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 50%;
   }

   &__r {
      display: flex;
      align-items: flex-end;
      background-color: #A9ABB5;
   }

   &__m {
      display: flex;
      align-items: flex-start;
      background-color: #151519;
   }

   &__r-icon,
   &__m-icon {
      position: absolute;
      top: 50%;
      height: 96px;
      z-index: 1;
      // max-height: 30%;
   }

   &__r-icon {
      left: 50%;
      transform: translate(-50%, calc(-50% - 50vh));
      animation: start-r 2s forwards;
   }

   &__m-icon {
      right: 50%;
      transform: translate(-50%, calc(-50% + 50vh));
      // transform: translateY(50vw);
      animation: start-m 2s forwards;
   }

   &__content-m,
   &__content-r {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
   }

   &__content-r {}

   &__content-m {
      align-items: flex-end;
      color: #A9ABB5;
   }

   &__content-r-title,
   &__content-m-title {
      font-family: var(--font-family-benzin);
      font-size: 9.5vh;
      line-height: 90%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
   }

   &__content-r-title {
      margin-bottom: -0.05em;
      max-width: 7em;
      transform: translateX(-100vw);
      animation: title-r 1s 1.5s forwards;
   }

   &__content-m-title {
      margin-top: -0.15em;
      max-width: 6em;
      text-align: right;
      transform: translateX(100vw);
      animation: title-m 1s 1.5s forwards;
   }

   &__content-r-text,
   &__content-m-text {
      max-width: 18em;
      font-weight: 300;
      font-size: 2.5vh;
      letter-spacing: -0.02em;
      opacity: 0;
      text-align: right;
      animation: text 0.5s 2s forwards;
   }

   &__content-r-text {}

   &__content-m-text {}

   &__r-background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      animation: background-r 1s 1s forwards;
   }
}

@keyframes start-r {
   0% {
      transform: translate(-50%, calc(-50% - 50vh));
   }

   50% {
      transform: translate(-50%, -50%);
      left: 50%;
      height: 96px;
      opacity: 1;
   }

   100% {
      left: 0;
      height: 100%;
      width: auto;
      transform: translate(0, -50%);
      opacity: 0.3;
   }
}

@keyframes start-m {
   0% {
      transform: translate(50%, calc(-50% + 50vh));
   }

   50% {
      transform: translate(50%, -50%);
      right: 50%;
      height: 96px;
      opacity: 1;
   }

   100% {
      right: 0;
      height: 100%;
      width: auto;
      transform: translate(0, -50%);
      opacity: 0.2;
   }
}

@keyframes background-r {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes title-r {
   0% {
      transform: translateX(-100vw);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes title-m {
   0% {
      transform: translateX(100vw);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes text {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}