.start {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 25;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   width: 100%;
   overflow: hidden;
   transition: transform var(--tr-time);

   &__r,
   &__m {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 50%;
      overflow: hidden;

      ._pc .button {
         opacity: 0;

         @media (max-width:1023.98px) {
            animation: start-button 0.5s 2s forwards;
         }

         @media (min-width:1024px) {
            transition: opacity 0.3s;
         }
      }

      ._pc &:hover {
         .button {
            opacity: 1;
         }

         .start__content-r-title,
         .start__content-m-title {
            span {
               color: #ffffff;
            }
         }

         .start__background {
            opacity: 0.1;
         }
      }
   }

   &__r {
      display: flex;
      align-items: flex-end;
      background-color: #A9ABB5;
   }

   &__m {
      display: flex;
      align-items: flex-start;
      background-color: #151519;
   }

   &__r-icon,
   &__m-icon {
      position: absolute;
      top: 50%;
      height: 12vw;
      z-index: 1;

      @media (min-width:1024px) {
         height: 96px;
      }
   }

   &__r-icon {
      --start-r-height: 12vw;
      --start-r-left: 50%;
      --start-r-transform: translate(-50%, -50%);
      left: 50%;
      transform: translate(-50%, calc(-50% - 50vh));
      animation: start-r 2s forwards;

      @media (min-width:1024px) {
         --start-r-height: 96px;
         --start-r-left: 0;
         --start-r-transform: translate(0, -50%);
      }
   }

   &__m-icon {
      --start-m-height: 12vw;
      --start-m-right: 50%;
      --start-m-transform: translate(50%, -50%);
      right: 50%;
      transform: translate(-50%, calc(-50% + 50vh));
      animation: start-m 2s forwards;

      @media (min-width:1024px) {
         --start-m-height: 96px;
         --start-m-right: 0;
         --start-m-transform: translate(0, -50%);
      }
   }

   &__content-m,
   &__content-r {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 100%;
      align-items: center;

      overflow: hidden;

      @media (min-width:1024px) {
         overflow: visible;
         justify-content: space-between;
         min-height: auto;
         flex-direction: row;
      }
   }

   &__content-r {
      @media (min-width:1024px) {
         align-items: flex-start;

         .button {
            margin-left: auto;
         }
      }
   }

   &__content-m {
      color: #ffffff;

      @media (min-width:1024px) {
         align-items: flex-end;
      }
   }

   &__content-r-title,
   &__content-m-title {
      font-family: var(--font-family-benzin);
      font-size: 30px;
      line-height: 0.9;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      -webkit-font-smoothing: none !important;
      -moz-osx-font-smoothing: unset !important;
      text-rendering: geometricPrecision !important;

      span {
         transition: color 0.3s;
      }

      @media (min-width:1024px) {
         font-size: 9.5vh;
      }
   }

   &__content-r-title {
      margin-bottom: -0.05em;
      max-width: 7em;
      transform: translateX(-100vw);
      text-align: center;
      animation: start-title-r 1s 1.5s forwards;

      @media (min-width:1024px) {
         text-align: left;
      }

      .macos & {
         margin-bottom: -0.15em;
      }
   }

   &__content-m-title {
      margin-top: -0.15em;
      max-width: 6em;
      text-align: center;
      transform: translateX(100vw);
      animation: start-title-m 1s 1.5s forwards;
      color: #A9ABB5;

      @media (min-width:1024px) {
         order: 2;
         text-align: right;
      }

      .macos & {
         margin-top: 0em;
      }
   }

   &__content-r-group {}

   &__content-m-group {
      @media (min-width:1024px) {
         align-self: flex-end;
      }
   }

   &__content-r-text,
   &__content-m-text {
      max-width: 18em;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: -0.02em;
      opacity: 0;
      text-align: center;
      animation: start-text 0.5s 2s forwards;

      @media (min-width:1024px) {
         order: 1;
         font-size: 2.5vh;
      }
   }

   &__content-r-text {
      @media (min-width:1024px) {
         margin-bottom: 4.5vh;
         text-align: right;
      }
   }

   &__content-m-text {
      @media (min-width:1024px) {
         margin-top: 4.5vh;
         text-align: left;
      }
   }

   &__content-button {
      opacity: 0;
      animation: start-text 0.5s 2s forwards;
   }

   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.3s;
   }
}


@keyframes start-r {
   0% {
      transform: translate(-50%, calc(-50% - 50vh));
   }

   50% {
      transform: translate(-50%, -50%);
      height: var(--start-r-height);
      left: 50%;
      opacity: 1;
   }

   100% {
      transform: var(--start-r-transform);
      left: var(--start-r-left);
      height: 100%;
      width: auto;
      opacity: 0.3;
   }
}



@keyframes start-m {
   0% {
      transform: translate(50%, calc(-50% + 50vh));
   }

   50% {
      transform: translate(50%, -50%);
      height: var(--start-m-height);
      right: 50%;
      opacity: 1;
   }

   100% {
      transform: var(--start-m-transform);
      right: var(--start-m-right);
      height: 100%;
      width: auto;
      opacity: 0.2;
   }
}

@keyframes start-title-r {
   0% {
      transform: translateX(-100vw);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes start-title-m {
   0% {
      transform: translateX(100vw);
   }

   100% {
      transform: translateX(0);
   }
}

@keyframes start-text {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes start-button {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}