.projects {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: var(--vh);
   display: flex;
   align-items: center;
   background-color: #a9abb5;
   transition: transform var(--tr-time);
   overflow: hidden;

   &__container {}

   &__buttons {
      margin-bottom: 6vh;
      display: flex;
      gap: 40px;
   }

   &__button {
      padding: 10px 20px;
      font-size: 24px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #5D606E;
      border: 2px solid transparent;
      border-radius: 50px;
      transition: color 0.3s, border-color 0.3s;

      &:hover,
      &.active {
         color: #ffffff;
         border-color: #5D606E;
      }
   }

   &__body {}

   &__swiper {}

   &__wrapper {}

   &__slide {
      &.hidden {
         display: none;
      }
   }

   &__card {
      position: relative;

      &:hover {
         .projects__text {
            color: #ffffff;
         }

         .projects__topic {
            background-color: #A9ABB5;
         }

         .projects__info {
            opacity: 1;
         }
      }
   }

   &__image {
      padding-bottom: 65%;
      position: relative;
      overflow: hidden;
      border-radius: 10px;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
         pointer-events: none;
      }

   }

   &__topic {
      position: absolute;
      top: 30px;
      left: 30px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: -0.02em;
      border-radius: 50px;
      color: #ffffff;
      background-color: #151519;
      // background: linear-gradient(180deg, #151519 70%, #a9abb5 200%);
      transition: background-color 0.3s, color 0.3s;
   }

   &__text {
      position: absolute;
      left: 30px;
      top: 100%;
      transform: translateY(-1em);
      max-width: 60%;
      font-family: var(--font-family-benzin);
      font-weight: 400;
      font-size: 50px;
      line-height: 90%;
      text-transform: uppercase;
      // color: #ffffff;
      color: #151519;
      transition: color 0.3s;
   }

   &__info {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 30px;
      opacity: 0;

      svg {
         height: auto;
         width: 100%;
      }
   }

   &__swiper-pagination {
      margin-top: 19vh;
      height: 8px;
   }

   .swiper-scrollbar-drag {
      height: 8px;
      border-radius: 50px;
      background-color: #ffffff;
   }
}