.process {
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: #151519;
   width: 100vw;
   transform: translateX(0);
   overflow: hidden;

   @media (min-width:1024px) {
      padding: 0;
      height: var(--vh);
      position: fixed;
      top: 0;
      left: 0;
      transition: transform var(--tr-time);
   }

   &__container {}

   &__body {
      position: relative;
   }

   &__label {
      position: relative;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      max-height: 25vh;
      height: auto;
      width: auto;
      max-width: 80%;

      @media (min-width:1024px) {
         transform: translate(-50%, -40%);
         position: absolute;
      }

   }

   &__title {
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #ffffff;
      text-align: center;

      @media (min-width:1024px) {
         position: absolute;
         top: 19vh;
         left: 0;
         max-width: calc(50% - 30px);
         font-size: 6.94vh;
         text-align: left;
         opacity: 1;
         transition: opacity 0.3s 1s;
      }

      &.hide {
         opacity: 0;
         transition: opacity 0.3s 0s;
      }
   }

   &__card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media (min-width:1024px) {
         height: var(--vh);
      }
   }

   &__card-grid {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      @media (min-width:1024px) {
         flex-direction: row;
         align-items: flex-end;
         justify-content: center;
      }
   }

   &__content {
      padding: 20px;
      background-color: #26262C;
      border-radius: 10px;
      overflow: hidden;

      @media (min-width:1024px) {
         padding: 3.5vh;
         flex: 0 0 57.4vh;
         order: 1;
      }
   }

   &__content-title {
      margin-bottom: 25px;
      color: #ffffff;
      font-size: 20px;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 3.1vh;
         margin-bottom: 6.5vh;
      }
   }

   &__content-text {
      color: #A9ABB5;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 2.08vh;
      }
   }

   &__media {
      margin: 40px 0 10px;
      position: relative;

      @media (min-width:1024px) {
         order: 2;
         margin: 0;
         flex: 0 0 57.4vh;
      }
   }

   &__image {
      position: relative;
      padding-bottom: 45vw;
      overflow: hidden;
      border-radius: 10px;
      background: linear-gradient(45deg, #A9ABB5 20%, #4A4B4F 120%);

      @media (min-width:1024px) {
         padding-bottom: 84.5%;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         max-width: 100%;
         max-height: 80%;
         height: auto;
         width: auto;
         object-fit: contain;

         @media (min-width:1024px) {
            max-height: 100%;
         }
      }
   }

   &__number {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width:1024px) {
         left: 0;
         transform: translate(-25%, 50%);
      }

      &::before {
         content: '0' counter(item) '.';
         counter-increment: item;
         font-family: var(--font-family-benzin);
         font-size: 34px;
         font-weight: 500;
         line-height: 100%;
         letter-spacing: -0.02em;
         text-transform: uppercase;
         background: linear-gradient(180deg, #fff 0%, #a9abb5 100%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;

         @media (min-width:1024px) {
            font-size: 5.5vh;
         }
      }
   }

   &__button {
      padding-top: 7.5vh;
      padding-bottom: 10vh;
      justify-content: flex-end;
      display: none;

      @media (min-width:1024px) {
         display: flex;
      }

      button {
         display: flex;
         align-items: center;
         gap: 40px;
         font-size: 3.1vh;
         letter-spacing: -0.02em;
         color: #ffffff;

         svg {
            height: 1.8vh;
            width: auto;
         }

         span {
            filter: blur(7px);
            transition: filter 0.3s;
         }

         &:hover {
            span {
               filter: blur(0px);
            }
         }
      }
   }

   &__infer {
      position: relative;
      display: flex;
      align-items: center;

      @media (min-width:1024px) {
         height: 100%;
         opacity: 0;
         transition: opacity 0.3s 0.5s;
      }

      .swiper-slide-active & {
         @media (min-width:1024px) {
            opacity: 1;
         }
      }

      // &::after {
      //    content: '';
      //    position: absolute;
      //    bottom: 0;
      //    left: 50%;
      //    transform: translate(-50%, 0);
      //    width: 150vw;
      //    height: 100vw;
      //    background: radial-gradient(#A9ABB5, #a9abb500);
      //    opacity: 0.4;

      //    @media (min-width:1024px) {
      //       display: none;
      //    }
      // }
   }

   &__infer-inner {
      padding-top: 50px;
      font-size: 26px;
      line-height: 110%;
      letter-spacing: -0.02em;
      text-align: center;
      color: #ffffff;

      @media (min-width:1024px) {
         font-size: 5.5vh;
      }

      &>span {
         color: #A9ABB5;

         span {
            text-decoration: underline;
            text-decoration-color: #ffffff;
         }
      }
   }

   .swiper-wrapper {
      display: block;
      counter-reset: item;

      @media (min-width:1024px) {
         display: flex;
      }
   }

   .swiper-fade {
      .swiper-slide {
         opacity: 1 !important;
         z-index: 1;
      }

      .process__content {
         opacity: 0;
         transition: 0.3s 0s;
      }

      .process__media {
         opacity: 0;
         transition: 0.3s 0.3s;
      }

      .process__number {
         opacity: 0;
         transition: 0.3s 0.6s;
      }

      .process__button {
         opacity: 0;
         transition: 0.3s 0.6s;
      }

      .swiper-slide-active {
         z-index: 2;

         .process__content {
            opacity: 1;
            transition: 0.3s 0.6s;
         }

         .process__media {
            opacity: 1;
            transition: 0.3s 0.9s;
         }

         .process__number {
            opacity: 1;
            transition: 0.3s 1.2s;
         }

         .process__button {
            opacity: 1;
            transition: 0.3s 1.2s;
         }

      }
   }
}