.about {
   width: 100%;
   min-height: var(--vh);

   @media (min-width:1024px) {
      position: fixed;
      top: 0;
      left: 0;
      height: var(--vh);
   }

   &.remont--mod {
      background-color: #151519;
   }

   &.mebel--mod {
      background-color: #a9abb5;
   }

   &__body {
      position: relative;
      display: flex;
      align-items: center;
      height: var(--vh);
      width: 100vw;
      min-width: 100vw;
   }

   &__shell {
      position: relative;

      @media (min-width:1024px) {
         position: static;
      }
   }

   &__image {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: auto;

      @media (min-width:1024px) {
         top: 0;

         transform: translate(-50%, -50%);
         width: 50%;

      }
   }

   &__text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      height: 100%;
      font-weight: 300;
      font-size: 26px;
      line-height: 100%;
      letter-spacing: -0.02em;
      transform: translateZ(0);

      @media (min-width:1024px) {
         gap: calc(var(--vh) * 0.055);
         font-size: calc(var(--vh) * 0.07);
      }


      .letter {
         will-change: color;
         transform: translateZ(0);
         color: #5D606E;
         filter: blur(3px);
      }
   }
}