.cookie-modal {
   // padding: 3.4vh 3.2vw;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: var(--vh);
   z-index: 100;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   transition: transform var(--tr-time);

   &__header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 3.4vh 3.2vw;
      display: flex;
      justify-content: space-between;

      svg {
         height: max(4.1vh, 40px);
      }
   }

   &__container {
      flex: 1 1 auto;
   }

   &__body {
      height: var(--vh);
      display: flex;
      flex-direction: column;
   }

   &__title {
      padding-top: calc(3.4vh * 2 + max(4.1vh, 40px));
      padding-bottom: 4vh;
      flex: 0 1 30vh;
      display: flex;
      align-items: flex-end;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 70px;
      }
   }

   &__scroll {
      position: relative;
      flex: 1 1 auto;
      overflow-y: auto;
      border-top: 1px solid #5D606E;
      font-size: 1 4px;
      line-height: 140%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 24px;
      }
   }

   &__scroll-inner {
      padding-top: 40px;
      padding-bottom: 40px;
   }

   &__text {
      margin-bottom: 40px;

      p {
         &:not(:last-child) {
            margin-bottom: 1em;
         }
      }
   }

   &__inner-title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 30px;
      }
   }

   &__inner-list {
      li {
         margin-left: 2em;
         margin-bottom: 15px;
         font-weight: 600;
         font-size: 16px;
         line-height: 140%;
         letter-spacing: -0.02em;
         list-style: disc;

         @media (min-width:1024px) {
            font-size: 26px;
         }

         p {
            margin-left: -2em;
            margin-top: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: -0.02em;

            @media (min-width:1024px) {
               font-size: 24px;
            }
         }
      }
   }

   &__button {
      position: relative;
      padding-bottom: 20px;
      padding-top: 40px;
      display: flex;
      justify-content: center;

      .button-simple {
         width: 100%;
      }

      &::before {
         content: '';
         position: absolute;
         bottom: 100%;
         left: 0;
         z-index: 1;
         width: 100%;
         height: 100%;
         background: linear-gradient(#ffffff00 0%, #ffffffa8 70%, #ffffff);
      }
   }
}