 @use './first';
 @use '../../html/Start/start';
 @use '../../html/About/about';
 @use '../../html/Features/features';
 @use '../../html/Services/services';
 @use '../../html/Projects/projects';
 @use '../../html/Partners/partners';
 @use '../../html/Contacts/contacts';
 @use '../../html/Cookie/coolie';
 @use '../../html/Cookie-Modal/cookie-modal';
 @use '../../html/Projects/Modals/projects-modal';
 @use '../../html/Stages/stages';
 @use '../../html/Process/process';