.first {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9;
   min-width: 100vw;
   width: 100vw;
   height: var(--vh);
   overflow: hidden;
   transform: translateX(0);
   transition: transform var(--tr-time);



   &__background {}

   &__background-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
   }

   &__mask {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      mask-size: auto 100%;
      mask-repeat: no-repeat;
      opacity: 0.6;
      opacity: 0;
      transition: opacity 0.5s calc(var(--tr-time) - 0.5s);

      .active & {
         opacity: 0.7;
      }

      .remont--mod & {
         background: #a9abb5;
         mask-position: left;
         mask-image: url('../img/png/mask-r.png');
      }

      .mebel--mod & {
         background: linear-gradient(45deg, #a9abb5 10%, #151519 50%);
         mask-position: right;
         mask-image: url('../img/png/mask-m.png');
      }
   }

   &__content {
      position: relative;
      z-index: 3;
      display: flex;
      height: 100%;
      width: 80%;
   }

   &__left {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;

      .mebel--mod & {
         justify-content: center;
      }

      .remont--mod & {
         padding-top: 23vh;
      }
   }

   &__title {
      font-family: var(--font-family-benzin);
      font-size: 9.4vh;
      line-height: 90%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      max-width: 7em;
      color: #ffffff;
      opacity: 0;
      transition: opacity 0.3s var(--tr-time);

      span {
         color: #A9ABB5
      }

      .active & {
         opacity: 1;
      }

   }

   &__right {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .mebel--mod & {
         text-align: right;
      }
   }

   &__text {
      margin-bottom: 5vh;
      max-width: 12.5em;
      font-size: 3.82vh;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-align: right;
      opacity: 0;
      transition: opacity 0.5s calc(var(--tr-time) + 0.3s);

      .active & {
         opacity: 1;
      }

      .mebel--mod & {
         text-align: left;
      }
   }

   &__subtext {
      max-width: 18em;
      margin-bottom: 15vh;
      font-size: 2.5vh;
      letter-spacing: -0.02em;
      text-align: right;
      color: #ffffff;
      opacity: 0;
      transition: opacity 0.5s calc(var(--tr-time) + 0.6s);

      .active & {
         opacity: 1;
      }

      .mebel--mod & {
         text-align: left;
      }
   }

   &__button {
      opacity: 0;
      transition: opacity 0.5s calc(var(--tr-time) + 0.9s);

      .active & {
         opacity: 1;
      }
   }
}