.first {
   min-width: 100vw;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   z-index: -1;

   @media (min-width:1024px) {
      height: var(--vh);
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(0);
      transition: transform var(--tr-time) var(--easing);
   }

   &.active {
      z-index: 9;
   }

   &__background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
   }

   &__background-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover;
      filter: brightness(0.7)
   }

   &__mask {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      mask-size: auto 100%;
      mask-repeat: no-repeat;
      transition: opacity 0.5s calc(var(--tr-time) - 0.5s);

      @media (max-width:1023.98px) {
         backdrop-filter: blur(20px);
         mask-size: 100% 100%;
         mask-image: url('../img/png/mask-4.png');

         .mebel--mod & {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%), linear-gradient(#a9abb500 70%, #A9ABB5);
         }

         .remont--mod & {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%), linear-gradient(#a9abb500 70%, #151519);
         }
      }

      @media (min-width:1024px) {
         opacity: 0;
      }

      .active & {
         opacity: 0.8;
      }

      .remont--mod & {
         @media (min-width:1024px) {
            background: #a9abb5;
            mask-position: left;
            mask-image: url('../img/png/mask-r.png');
         }
      }

      .mebel--mod & {
         @media (min-width:1024px) {
            background: linear-gradient(45deg, #a9abb5 -20%, #151519 40%);
            mask-position: right;
            mask-image: url('../img/png/mask-m.png');
         }
      }
   }

   &__mask-border {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
   }

   &__content {
      padding-top: calc(100px + 8vh);
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      height: 100%;

      @media (min-width:1024px) {
         padding-top: 0;
         width: 80%;
         flex-direction: row;
      }
   }

   &__left {
      // flex: 1 1 auto;
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media (min-width:1024px) {
         flex: 0 0 50%;
         align-items: flex-start;
         // order: 2;
      }

      .mebel--mod & {
         @media (min-width:1024px) {
            order: 2;
            align-items: flex-end;
            justify-content: center;
         }
      }

      .remont--mod & {
         @media (min-width:1024px) {
            padding-top: 23vh;
         }
      }
   }

   &__title {
      font-family: var(--font-family-benzin);
      font-size: 40px;
      line-height: 90%;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s var(--tr-time);

      @media (min-width:1024px) {
         font-size: 9.4vh;
         text-align: left;
      }

      span {
         color: #A9ABB5
      }

      .active & {
         opacity: 1;
      }

      .mebel--mod & {
         @media (min-width:1024px) {
            text-align: right;
         }
      }

      .remont--mod & {
         @media (min-width:1024px) {
            color: #151519;

            span {
               color: #ffffff;
            }
         }
      }
   }

   &__right {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width:1024px) {
         margin-bottom: 0;
         flex: 0 0 50%;
         align-items: flex-end;
      }

      .mebel--mod & {
         @media (min-width:1024px) {
            order: 1;
            align-items: flex-start;
            text-align: right;
         }
      }
   }

   &__text {
      display: none;
      margin-bottom: 5vh;
      max-width: 12.5em;
      font-size: 3.82vh;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-align: right;

      opacity: 0;
      transition: opacity 0.5s calc(var(--tr-time) + 0.3s);

      @media (min-width:1024px) {
         display: block;
      }

      .active & {
         opacity: 1;
      }

      .mebel--mod & {
         text-align: left;
         color: #ffffff;
      }
   }

   &__subtext {
      margin-bottom: 15vh;
      max-width: 80%;
      font-size: 20px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
      opacity: 0;
      transition: opacity 0.5s calc(var(--tr-time) + 0.6s);

      @media (max-width:1023.98px) {
         flex: 1 1 auto;
      }

      @media (min-width:1024px) {
         font-size: 2.5vh;
         max-width: 18em;
         text-align: right;
      }

      .active & {
         opacity: 1;
      }

      .mebel--mod & {
         color: #A9ABB5;

         @media (min-width:1024px) {
            text-align: left;
         }
      }
   }

   &__down {
      padding-bottom: 7vh;
      display: flex;
      justify-content: center;
   }

   &__button {
      display: none;
      opacity: 0;
      transition: opacity 0.5s calc(var(--tr-time) + 0.9s);

      @media (min-width:1024px) {
         display: block;
      }

      .active & {
         opacity: 1;
      }
   }
}