.modal {
   --height-modal: 100vh;
   position: fixed;
   top: var(--header-h);
   left: -100vw;
   z-index: 25;
   width: 100vw;
   height: var(--height-modal);
   backdrop-filter: blur(31.3px);
   background: rgba(169, 171, 181, 0.8);
   overflow-y: auto;
   overflow-x: hidden;
   transition: left var(--tr-time);

   @supports(height: 100dvh) {
      --height-modal: 100dvh;
   }

   @media (min-width:768px) {
      top: 0;
      --height-modal: 100vh;

      @supports(height: 100dvh) {
         --height-modal: 100dvh
      }
   }

   // &__container {
   //    min-height: var(--height-modal);
   //    display: flex;
   //    align-items: center;
   // }
}


.js-modal-hidden {
   left: -100vw;

   &.js-modal-visible {
      left: 0;

   }
}

.body-overflow {
   overflow: hidden;
}