.modal {
   will-change: transform;
   --height-modal: 100vh;
   position: fixed;
   top: var(--header-h);
   left: 0;
   z-index: 25;
   width: 100vw;
   height: var(--height-modal);
   backdrop-filter: blur(31.3px);
   overflow-y: auto;
   overflow-x: hidden;
   transition: transform var(--tr-time) var(--easing);
   backface-visibility: hidden;
   // perspective: 1000px;

   &.mebel--mod {
      background: rgba(169, 171, 181, 0.8);
   }

   &.remont--mod {
      background: rgba(21, 21, 25, 0.8);
   }

   @supports(height: 100dvh) {
      --height-modal: 100dvh;
   }

   @media (min-width:768px) {
      top: 0;
      --height-modal: 100vh;

      @supports(height: 100dvh) {
         --height-modal: 100dvh
      }
   }

   // &__container {
   //    min-height: var(--height-modal);
   //    display: flex;
   //    align-items: center;
   // }
}


.js-modal-hidden {
   transform: translateX(-100%) translateZ(0);

   &.js-modal-visible {
      transform: translateX(0) translateZ(0);

   }
}

.body-overflow {
   overflow: hidden;
}