.modal {
   --height-modal: 100vh;
   position: fixed;
   top: var(--header-h);
   left: -100vw;
   z-index: 25;
   width: 100vw;
   height: var(--height-modal);
   backdrop-filter: blur(31.299999237060547px);
   background: rgba(169, 171, 181, 0.8);
   overflow-y: auto;
   overflow-x: hidden;
   transition: left var(--tr-time);

   @supports(height: 100dvh) {
      --height-modal: 100dvh;
   }

   @media (min-width:768px) {
      top: 0;
      --height-modal: 100vh;

      @supports(height: 100dvh) {
         --height-modal: 100dvh
      }
   }

   // &__container {
   //    min-height: var(--height-modal);
   //    display: flex;
   //    align-items: center;
   // }

   &__close {
      position: absolute;
      top: 4vh;
      right: calc(4vh + 20px);
      z-index: 5;
      width: 4vh;
      height: 4vh;
   }

   &__body {
      padding-bottom: 20px;
      position: relative;
      margin-left: auto;
      width: 100%;
      background-color: #ffffff;
      width: 100%;
      max-width: 75vw;
   }

   &__main-screen {
      height: var(--vh);
      display: flex;
      flex-direction: column;
   }

   &__main-image {
      position: relative;
      flex: 1 1 auto;
      overflow: hidden;

      &::before {
         content: '';
         position: absolute;
         top: 20px;
         left: 20px;
         width: calc(100% - 40px);
         height: calc(100% - 40px);
         border-radius: 10px;
         border: 1px solid #ffffff;
         z-index: 2;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         z-index: 1;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__main-text {
      padding: 5vh 6vh;
      font-family: var(--font-family-benzin);
      font-size: 60px;
      line-height: 90%;
      text-transform: uppercase;
   }

   &__grid {
      padding-left: 20px;
      padding-right: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 56px;
   }

   &__cell {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #151519;

      &:nth-child(4n+3),
      &:nth-child(4n+2) {
         .modal__cell-img-item {
            padding-bottom: 55%;
         }

      }
   }

   &__cell-img {
      flex: 1 1 auto;
   }

   &__cell-img-item {
      position: relative;
      padding-bottom: 71.5%;
      overflow: hidden;
      border-radius: 10px;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__cell-text {
      padding-top: 30px;
      padding-bottom: 30px;
      font-weight: 400;
      font-size: 36px;
      letter-spacing: -0.02em;
   }



}


.js-modal-hidden {
   left: -100vw;

   &.js-modal-visible {
      left: 0;

   }
}

.body-overflow {
   overflow: hidden;
}