.projects-modal {
   &__close {
      position: absolute;
      z-index: 5;

      svg {
         transition: transform 0.3s;
      }

      ._pc &:hover {
         svg {
            transform: rotate(180deg);
         }
      }

      @media (max-width:1023.98px) {
         top: 6vh;
         left: 50%;
         width: 35px;
         height: 35px;
         transform: translateX(-50%);
      }

      @media (min-width:1024px) {
         top: 6.25vh;
         right: 6.25vh;
         width: 4vh;
         height: 4vh;
      }

      svg {
         width: 100%;
         height: auto;
      }
   }

   &__body {
      padding-bottom: 20px;
      position: relative;

      width: 100%;
      background-color: #ffffff;
      width: 100%;

      @media (min-width:1024px) {
         margin-left: auto;
         max-width: 75vw;
      }
   }

   &__main-screen {
      min-height: var(--vh);
      display: flex;
      flex-direction: column;


   }

   &__main-image {
      position: relative;
      flex: 1 1 auto;
      overflow: hidden;
      min-height: var(--vh);

      @media (min-width:1024px) {
         min-height: 84vh;

         &::before {
            content: '';
            position: absolute;
            top: 20px;
            left: 20px;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            border-radius: 10px;
            border: 1px solid #ffffff;
            z-index: 2;
         }
      }
   }

   &__main-image-item {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__main-image-text {
      position: absolute;
      top: 15vh;
      left: 12vw;
      z-index: 4;
      font-family: var(--font-family-benzin);
      font-size: 30px;
      line-height: 90%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #ffffff;
      max-width: 80%;

      br {
         display: none;

         @media (min-width:1024px) {
            display: inline;
         }
      }

      @media (min-width:1024px) {
         font-size: 6vh;
         top: 6vh;
         left: 6vh;
         max-width: 55%;
      }

      .remont--mod & {
         span {
            color: #151519;
         }
      }

      .mebel--mod & {
         span {
            color: #A9ABB5;
         }
      }
   }

   &__main-text {
      padding: 20px;
      font-family: var(--font-family-benzin);
      font-size: 24px;
      line-height: 90%;
      text-transform: uppercase;

      @media (min-width:1024px) {
         padding: 5vh 6vh;
         font-size: 4.16vh;
      }
   }

   &__main-image-arrow {
      position: absolute;
      bottom: 5vh;
      left: 50%;
      transform: translateX(-50%);
      z-index: 4;
   }

   &__grid {
      --gap: 10px;
      padding-left: 20px;
      padding-right: 20px;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: var(--gap);

      @media (min-width:1024px) {
         --gap: 20px;
         grid-template-columns: 1fr 1fr;
      }
   }

   &__cell {
      position: relative;
      padding-bottom: calc(42% - var(--gap) * 2);
      grid-row: span 2;

      &:nth-child(4n+2),
      &:nth-child(4n+4) {
         grid-row: span 1;
      }
   }

   &__cell-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 20px;
   }

   &__cell-text {
      padding-top: 20px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         padding-top: 2.1vh;
         padding-bottom: 2.1vh;
         font-size: 2.5vh;
      }
   }

   &__list {
      padding-top: 2.1vh;
      padding-left: 20px;
      padding-right: 20px;

      li {
         padding-top: 20px;
         padding-bottom: 15px;
         display: flex;
         justify-content: space-between;
         font-weight: 400;
         font-size: 16px;
         letter-spacing: -0.02em;
         border-bottom: 1px solid rgba(21, 21, 25, 0.2);

         @media (min-width:1024px) {
            padding-top: 2.1vh;
            padding-bottom: 2.1vh;
            font-size: 2.5vh;
         }
      }
   }
}

.projects--mebel {
   .first__mask {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0.2) 70%, #ffffff 98%);
   }
}