// @font-face {
// 	font-family:
// 		fontsName;
// 	font-display: swap;
// 	src:
// 		url("../fonts/fontsName/fontsName-Regular.woff2") format("woff2"),
// 		url("../fonts/fontsName/fontsName-Regular.woff") format("woff");
// 	font-weight:
// 		400;
// 	font-style: normal;
// }
@font-face {
   font-family:
      SF-Pro-Display;
   font-display: swap;
   src:
      url("../fonts/SFProDisplay/SF-Pro-Display-Regular.woff2") format("woff2"),
      url("../fonts/SFProDisplay/SF-Pro-Display-Regular.woff") format("woff");
   font-weight:
      400;
   font-style: normal;
}

@font-face {
   font-family:
      Benzin;
   font-display: swap;
   src:
      url("../fonts/Benzin/Benzin-Regular.woff2") format("woff2"),
      url("../fonts/Benzin/Benzin-Regular.woff") format("woff");
   font-weight:
      400;
   font-style: normal;
}

@font-face {
   font-family:
      Benzin;
   font-display: swap;
   src:
      url("../fonts/Benzin/Benzin-Medium.woff2") format("woff2"),
      url("../fonts/Benzin/Benzin-Medium.woff") format("woff");
   font-weight:
      500;
   font-style: normal;
}

// 100: Thin;
// 200: Extra Light (Ultra Light);
// 300: Light;
// 400: Normal; Regular
// 500: Medium;
// 600: Semi Bold (Demi Bold);
// 700: Bold;
// 800: Extra Bold (Ultra Bold);
// 900: Black (Heavy).