@use '../assets/variablesSCSS.scss' as *;

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 25;
   pointer-events: none;

   &__body {
      --padding-header-body: 20px;
      padding: 20px var(--padding-header-body);
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__nav {
      pointer-events: all;
      position: relative;
      order: 1;
   }

   &__button {
      position: relative;
      width: 80px;
      height: 56px;
      right: 0;
      border-radius: 5px;
      fill: var(--dark);
      border: 1px solid rgba(169, 171, 181, 0.5);
      backdrop-filter: blur(16px);
      background-color: #151519;
      transition: transform 0.5s, right 0.5s, border-color 0.3s, background-color 0.3s;
      z-index: 1;

      @media (min-width:1024px) {
         width: 13.3vh;
         height: 8.47vh;
         border-width: 2px;
         border-radius: 10px;

         ._pc.first-screen-active.mebel-branch &:hover,
         ._pc.mebel-branch &:hover,
         ._pc.remont-branch &:hover {
            background-color: #ffffff;
            border-color: #ffffff;

            .header__line-1,
            .header__line-2 {
               background-color: #151519;
            }
         }

         ._pc.mebel-branch & {
            background-color: #A9ABB5;
            border-color: rgba(255, 255, 255, 0.2);
         }

         ._pc.first-screen-active.mebel-branch & {
            background-color: #151519;
            border-color: rgba(169, 171, 181, 0.5)
         }

         ._pc.remont-branch.menu-open & {
            background-color: #99a4ab !important;
            border-color: #99a4ab !important;

            .header__line-1,
            .header__line-2 {
               background-color: #ffffff !important;
            }
         }

         ._pc.mebel-branch.menu-open & {
            background-color: #151519 !important;
            border-color: #151519 !important;

            .header__line-1,
            .header__line-2 {
               background-color: #ffffff !important;
            }
         }
      }

      @media (max-width:1023.98px) {
         .menu-open & {
            right: calc(50vw - var(--padding-header-body));
            transform: translateX(50%);
            border-color: transparent;
         }
      }
   }

   &__line-1,
   &__line-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 43%;
      height: 3px;
      border-radius: 10px;
      background-color: #ffffff;
      transition: transform 0.3s, background-color 0.3;

      @media (min-width:1024px) {
         height: 0.28vh;
      }
   }

   &__line-1 {
      transform: translate(-50%, calc(-50% + 5px));

      @media (min-width:1024px) {
         transform: translate(-50%, calc(-50% + 0.7vh));
      }

      .menu-open & {
         transform: translate(-50%, -50%) rotate(45deg);
      }
   }

   &__line-2 {
      transform: translate(-50%, calc(-50% - 5px));

      @media (min-width:1024px) {
         transform: translate(-50%, calc(-50% - 0.7vh));
      }

      .menu-open & {
         transform: translate(-50%, -50%) rotate(-45deg);
      }
   }

   &__nav-list {
      padding: 50px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      color: #ffffff;
      background-color: #151519;
      left: 100vw;

      font-weight: 400;
      font-size: 36px;
      letter-spacing: -0.02em;
      pointer-events: none;
      counter-reset: item;
      transition: opacity 0.3s, left 0.3s;

      @media (min-width:1024px) {
         position: absolute;
         display: block;
         top: calc(100% + 10px);
         width: auto;
         height: auto;
         backdrop-filter: blur(12px);
         background: rgba(255, 255, 255, 0.95);
         border-radius: 10px;
         opacity: 0;
         left: 0;
         color: #151519;
      }

      .menu-open & {
         opacity: 1;
         pointer-events: all;
         left: 0;
      }

      li {
         list-style: none;
      }

      a,
      button {
         position: relative;
         padding: 10px;
         display: flex;
         align-items: center;
         padding-left: 0.5em;

         &::before {
            content: '0' counter(item) '.';
            counter-increment: item;
            position: absolute;
            top: 0;
            left: -1em;
            font-size: 0.36em;
            letter-spacing: -0.02em;
            color: #99a4ab;
         }
      }
   }

   &__logo {
      position: relative;
      padding: 15px 24px;
      pointer-events: all;
      border-radius: 5px;
      backdrop-filter: blur(20.4px);
      background: linear-gradient(rgba(255, 255, 255, 0.1) -20%, rgba(255, 255, 255, 0.1) 100%);

      @media (min-width:1024px) {
         order: 2;
         padding: 0;
         padding-right: 5.5vh;
         backdrop-filter: blur(0);
         background: none;
         border-radius: 10px;
      }

      &::before {
         content: '';
         border: 5px solid transparent;
         margin: 1px;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         width: calc(100% - 2px);
         height: calc(100% - 2px);
         border-radius: 5px;
         background-color: #151519;

         @media (min-width:1024px) {
            display: none;
         }
      }

      svg,
      img {
         width: 32px;
         height: auto;

         @media (min-width:1024px) {
            width: auto;
            height: 3.95vh;
         }
      }

      .logo-mebel-animate,
      .logo-remont-animate {
         transition: transform 0.5s;
      }

      ._pc &:hover {
         .logo-remont-animate {
            transform: translateX(50%);
         }

         .logo-mebel-animate {
            transform: translateY(35%);
         }
      }
   }
}

.logo-mebel-first,
.logo-remont-first,
.logo-remont,
.logo-mebel,
.menu-mebel,
.menu-remont {
   display: none;
}

.mebel-branch {
   .logo-mebel-first {
      display: block;
   }

   @media (min-width:1024px) {
      .logo-mebel {
         display: block;
      }

      .logo-mebel-first {
         display: none;
      }

      &.first-screen-active {
         .logo-mebel-first {
            display: block;
         }

         .logo-mebel {
            display: none;
         }
      }
   }

   .menu-mebel {
      display: block;
   }


}

.remont-branch {
   .logo-remont {
      display: block;
   }

   &.first-screen-active {
      .logo-remont-first {
         display: block;
      }

      .logo-remont {
         display: none;
      }
   }

   .menu-remont {
      display: block;
   }
}