@use 'variablesSCSS' as *;

body {
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--color-black);
   --padding-container: #{$padding-mobile};
   --container-width: #{$width-content};
   --max-width-container: #{$max-width-container};
   background-color: #a9abb5;

   @media (min-width:768px) {
      --padding-container: #{$padding-tablet};
   }

   @media (min-width:1024px) {
      --padding-container: #{$padding-desktop};
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

// .shadow {
//    box-shadow: -3px 0 16px 0 rgba(51, 51, 51, 0.3);
// }

[class*="container"] {
   // padding-left: var(--padding-container);
   // padding-right: var(--padding-container);
   margin: 0 auto;
   width: 80%;
   // max-width: var(--max-width-container);
}

.offset-right {
   transform: translateX(100vw) !important;
}

.offset-left {
   transform: translateX(-100vw) !important;
}

.section {
   z-index: 2;

   &.offset-left,
   &.offset-right {
      z-index: 0;
   }

   &.start.offset-left,
   &.start.offset-right {
      z-index: 20;
   }
}

.button {
   position: relative;
   min-height: 82px;
   min-width: 430px;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   font-size: 26px;
   letter-spacing: -0.02em;
   color: #ffffff;
   border-radius: 50px;

   &.button-dark {
      box-shadow: inset 0 -2px 9px 0 #ffffff40;
      background: linear-gradient(180deg, #151519 18%, #6b6d72 150%);
   }

   &.button-light {
      box-shadow: inset 0 -2px 11px 0 rgba(255, 255, 255, 0.75), inset 0 4px 18px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.05), inset 0 -2px 4px 0 rgba(255, 255, 255, 0.55);
      background: #A9ABB5;
   }

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #151519 40%, #a9abb5 150%);
      box-shadow: inset 0 -2px 9px 0 rgba(255, 255, 255, 0.25),
         0 22px 42px 0 rgba(255, 255, 255, 0.25);
      border-radius: inherit;
      opacity: 0;
      transition: opacity 0.3s;
   }

   .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
   }

   .text {
      transition: opacity 0.3s;
   }

   &:hover {
      .text {
         opacity: 0;
      }

      .arrow {
         opacity: 1;
      }

      &::before {
         opacity: 1;
      }
   }
}

.button-simple {
   min-height: 80px;
   min-width: 420px;
   font-weight: 500;
   font-size: 26px;
   letter-spacing: -0.02em;
   border-radius: 5px;
   background-color: #5D606E;
   color: #ffffff;
}


// .line-m {
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background-color: #a9abb5;
// }

// .horizomtal-1 {
//    display: flex;
//    width: max-content;

//    &>* {
//       width: 100vw !important;
//    }
// }


.scroll::-webkit-scrollbar {
   width: 6px;
   height: 6px;
   border-radius: 6px;
}

.scroll::-webkit-scrollbar-track {
   border-radius: 6px;
   background-color: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
   background-color: #A9ABB5;
   background-clip: content-box;
   border-radius: 6px;
}

.swiper-wrapper {

   z-index: 1;
   display: flex;
   transition-property: transform;

   .swiper-vertical & {
      flex-direction: column;
   }
}

.swiper-slide {
   flex-shrink: 0;
   width: 100%;
   transition-property: transform;
   touch-action: pan-y;
}

// .js-tabs-shell {
//    will-change: height;
//    transform: translateZ(0);
//    height: 0;
//    overflow: hidden;
//    transition: height $tr-time-l $bezier;
// }

// .js-tabs-toggle {
//    cursor: pointer;
// }