@use 'variablesSCSS' as *;

body {
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--color-black);
   --padding-container: #{$padding-mobile};

   // --container-width: #{$width-content};
   // --max-width-container: #{$max-width-container};
   &.mebel-branch {
      background-color: #a9abb5;
   }

   &.remont-branch {
      background-color: #151519;
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

[class*="container"] {
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);
   width: 100%;

   // max-width: var(--max-width-container);
   @media (min-width:1024px) {
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
      width: 80%;
   }
}

#remont,
#mebel {
   @media (max-width:1023.98px) {
      position: fixed;
      top: 0;
      left: 100vw;
      pointer-events: none;
      max-height: 100vh;
      max-width: 100vw;
      // opacity: 0;

      &.active {
         position: static;
         opacity: 1;
         height: auto;
         // opacity: 1;
         pointer-events: all;
      }
   }
}

.offset-right {
   @media (min-width:1024px) {
      transform: translateX(100vw) translateZ(0) !important;
   }

   &.start {
      transform: translateX(100vw) translateZ(0) !important;
   }
}

.offset-left {
   @media (min-width:1024px) {
      transform: translateX(-100vw) translateZ(0) !important;
   }

   &.start {
      transform: translateX(-100vw) translateZ(0) !important;
   }
}

.hide-min1024 {
   @media (min-width:1024px) {
      display: none !important;
   }
}

.hide-max1024 {
   @media (max-width:1023.98px) {
      display: none !important;
   }
}

.section {
   position: relative;
   z-index: 2;

   @media (min-width:1024px) {
      will-change: transform;
      transition: transform var(--tr-time) var(--easing);
      backface-visibility: hidden;
      // perspective: 1000px;
   }

   &.offset-left,
   &.offset-right {
      z-index: 0;
   }

   &.start.offset-left,
   &.start.offset-right {
      z-index: 20;
   }
}

.button {
   position: relative;
   min-height: 50px;
   min-width: 250px;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: -0.02em;
   color: #ffffff;
   border-radius: 50px;

   @media (min-width:1024px) {
      padding: 1.3vh;
      font-size: 1.8vh;
      min-height: 5.6vh;
      min-width: 30vh;
   }

   &.button-dark {
      box-shadow: inset 0 -2px 9px 0 #ffffff40;
      background: linear-gradient(180deg, #151519 18%, #6b6d72 150%);
   }

   &.button-light {
      box-shadow: inset 0 -2px 11px 0 rgba(255, 255, 255, 0.75), inset 0 4px 18px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.05), inset 0 -2px 4px 0 rgba(255, 255, 255, 0.55);
      background: #A9ABB5;
   }

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      opacity: 0;
      transition: opacity 0.3s;
   }

   &.button-light::before {
      background: linear-gradient(180deg, #151519 40%, #a9abb5 150%);
      box-shadow: inset 0 -2px 9px 0 rgba(255, 255, 255, 0.25),
         0 10px 20px 0 rgba(255, 255, 255, 0.25);
   }

   &.button-dark::before {
      box-shadow: inset 0 -2px 11px 0 rgba(255, 255, 255, 0.75), inset 0 4px 18px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.05), inset 0 -2px 4px 0 rgba(255, 255, 255, 0.55);
      background: #A9ABB5;
   }

   .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
   }

   .text {
      transition: opacity 0.3s;
   }

   ._pc &:hover {
      .text {
         opacity: 0;
      }

      .arrow {
         opacity: 1;
      }

      &::before {
         opacity: 1;
      }
   }
}

.button-simple {
   min-height: 44px;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: -0.02em;
   border-radius: 5px;
   background-color: #5D606E;
   color: #ffffff;
   transition: background-color 0.3s;

   &:hover {
      background-color: #A9ABB5;
   }

   @media (min-width:1024px) {
      min-width: 29vh;
      min-height: 5.5vh;
      font-size: 1.8vh;
   }
}


.scroll::-webkit-scrollbar {
   width: 6px;
   height: 6px;
   border-radius: 6px;
}

.scroll::-webkit-scrollbar-track {
   border-radius: 6px;
   background-color: #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
   background-color: #A9ABB5;
   background-clip: content-box;
   border-radius: 6px;
}

.swiper-wrapper {

   z-index: 1;
   display: flex;
   transition-property: transform;

   .swiper-vertical & {
      flex-direction: column;
   }
}

.swiper-slide {
   flex-shrink: 0;
   width: 100%;
   transition-property: transform;
   touch-action: pan-y;
}

.map-marker {
   width: 53px;
   height: 53px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(180deg, #151519 18%, #a9abb5 200%);
   box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.09), 0 7px 5px 0 rgba(0, 0, 0, 0.13), 0 13px 10px 0 rgba(0, 0, 0, 0.16), 0 22px 18px 0 rgba(0, 0, 0, 0.19), 0 42px 33px 0 rgba(0, 0, 0, 0.23), 0 100px 80px 0 rgba(0, 0, 0, 0.32);

   svg {
      width: 40%;
      height: auto;
   }

   .mebel-branch & {
      .map-marker__r {
         display: none;
      }
   }

   .remont-branch & {
      .map-marker__m {
         display: none;
      }
   }
}

.link-social-network {
   position: relative;
   padding: 10px 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   min-height: 50px;
   font-weight: 500;
   font-size: 16px;
   line-height: 130%;
   letter-spacing: -0.02em;
   border-radius: 100px;
   transition: border-color 0.3s;

   @media (min-width:1024px) {
      padding: 0.7vh 2.1vh;
      min-height: 4.7vh;
      font-size: 1.8vh;
   }

   .mebel--mod & {
      border: 2px solid rgba(21, 21, 25, 0.5);
   }

   .remont--mod & {
      border: 2px solid rgba(169, 171, 181, 0.5);
   }

   svg {
      width: 20px;
      height: auto;

      @media (min-width:1024px) {
         width: 2.1vh;
      }

      .mebel--mod & {
         path {
            fill: #151519;
            transition: fill 0.3s;
         }
      }

      .remont--mod & {
         path {
            fill: #A9ABB5;
            transition: fill 0.3s;
         }
      }
   }

   &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border-radius: inherit;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s;

      .mebel--mod & {
         box-shadow: inset 0 -2px 9px 0 rgba(255, 255, 255, 0.25);
         background: linear-gradient(180deg, #151519 18.69%, #a9abb5 200%);
      }

      .remont--mod & {
         box-shadow: inset 0 -2px 11px 0 rgba(255, 255, 255, 0.75), inset 0 4px 18px 0 rgba(0, 0, 0, 0.25), inset 0 4px 4px 0 rgba(0, 0, 0, 0.05), inset 0 -2px 4px 0 rgba(255, 255, 255, 0.55);
         background: #A9ABB5;
      }

   }

   ._pc &:hover {
      &::before {
         opacity: 1;
      }
   }

   ._pc .mebel--mod &:hover {
      border-color: transparent;

      svg path {
         fill: #A9ABB5;
      }
   }

   ._pc .remont--mod &:hover {
      border-color: transparent;

      svg path {
         fill: #151519;
      }
   }
}

.services__title,
.trigger-partners,
.trigger-about-r,
.trigger-about-m {
   left: 0 !important;
}

// .js-tabs-shell {
//    will-change: height;
//    transform: translateZ(0);
//    height: 0;
//    overflow: hidden;
//    transition: height $tr-time-l $bezier;
// }

// .js-tabs-toggle {
//    cursor: pointer;
// }