:root {
   --font-family: "SF-Pro-Display";
   --font-family-benzin: "Benzin";
   --color-black: #151519;
   --color-gray: #A9ABB5;
   --tr-time: 1.5s;
   --easing: cubic-bezier(.5, 0, .5, 1);

   --vh: 100vh;

   @supports (height: 100dvh) {
      --vh: 100dvh;
   }
}