.services {
   padding-top: 150px;
   padding-bottom: 150px;
   width: 100%;
   transition: transform var(--tr-time);
   background-color: #a9abb5;

   @media (min-width:1024px) {
      padding-top: 0;
      padding-bottom: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: var(--vh);
      // transform: translateX(0);
   }

   &__name {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: auto;
      transform: translate(-50%, -80%);

      @media (min-width:1024px) {
         max-width: 80vw;
         max-height: 25vh;
         transform: translate(-50%, -30%);
      }
   }

   &__title {
      position: relative;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-align: center;
      color: #ffffff;
      z-index: 2;
      // backdrop-filter: blur(5px);
      background: linear-gradient(#a9abb5 60%, transparent 90%);

      @media (min-width:1024px) {
         margin-bottom: 0;
         height: 50vh;
         font-size: 8.3vh;
      }

      @media (min-width:1024px) {
         &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90%;
            z-index: -1;
            backdrop-filter: blur(5px);
         }
      }

      span {
         color: #151519;
         text-decoration: underline;
         text-decoration-color: #ffffff;
      }
   }

   &__string {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (min-width:1024px) {
         padding-bottom: 10vh;
         flex-direction: row;
         justify-content: space-between;
      }
   }

   &__card {
      --size: calc((100vw - var(--padding-container) * 2) * 0.63);
      position: relative;
      width: 100%;

      @media (min-width:1024px) {
         width: calc(var(--size) * 1.122);
         --size: 38vh;
      }
   }

   &__card-number {
      position: absolute;
      top: 0;
      right: 50%;
      z-index: 1;
      transform: translate(50%, -50%);
      font-family: var(--font-family-benzin);
      font-weight: 500;
      font-size: 4vh;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      text-align: center;
      background: linear-gradient(180deg, #fff 0%, #a9abb5 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (min-width:1024px) {
         right: 0;
         transform: translate(50%, 50%);
      }
   }

   &__card-image {
      position: relative;
      padding-bottom: var(--size);
      overflow: hidden;
      border-radius: 10px;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__card-text {
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      color: #ffffff;
   }
}