.stages {
   position: relative;
   padding-top: 50px;
   padding-bottom: 50px;
   width: 100vw;
   //  transform: translateX(0);
   overflow: hidden;
   background-color: #151519;

   @media (min-width:1024px) {
      height: var(--vh);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
   }

   &__label {
      position: relative;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      max-height: calc(var(--vh) * 0.25);
      height: auto;
      width: auto;
      max-width: 80%;

      @media (min-width:1024px) {
         transform: translate(-50%, -40%);
         position: absolute;
      }
   }

   &__container {
      flex: 1 1 auto;

      .swiper,
      .swiper-wrapper {
         height: 100%;
      }
   }

   &__body {
      position: relative;
      height: 100%;
   }

   &__header {
      @media (min-width:1024px) {
         position: absolute;
         top: calc(var(--vh) * 0.14);
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
      }
   }

   &__title {
      margin-bottom: calc(var(--vh) * 0.034);
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-align: center;
      color: #ffffff;

      @media (min-width:1024px) {
         font-size: 8.3vh;
      }

      span {
         color: #A9ABB5;
         text-decoration: underline;
         text-decoration-color: #ffffff;
      }
   }

   &__text {
      font-size: 20px;
      line-height: 130%;
      letter-spacing: -0.02em;
      text-align: center;
      color: #A9ABB5;

      @media (min-width:1024px) {
         font-size: 2.9vh;
      }
   }

   &__card {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @media (min-width:1024px) {
         // padding-bottom: 10vh;
         height: 100%;
      }
   }

   &__card-grid {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-direction: column;

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__media {
      margin: 33px 0 10px;
      position: relative;

      @media (min-width:1024px) {
         margin: 0;
         flex: 0 0 42.7vh;

         .revers & {
            order: 2;
         }
      }

   }

   &__media-img {
      padding-bottom: 45vw;
      position: relative;
      overflow: hidden;
      background: linear-gradient(45deg, #A9ABB5, #4A4B4F);
      border-radius: 10px;

      @media (min-width:1024px) {
         padding-bottom: 89%;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 80%;
         object-fit: contain;

         @media (min-width:1024px) {
            height: 100%;
         }
      }
   }

   &__number {
      position: absolute;
      top: 0;
      z-index: 2;

      &.left--mod {
         left: 50%;
         transform: translate(-50%, -50%);

         @media (min-width:1024px) {
            left: 0;
            transform: translate(-60%, 50%);
         }
      }

      &.right--mod {
         right: 50%;
         transform: translate(50%, -50%);

         @media (min-width:1024px) {
            right: 0;
            transform: translate(60%, 50%);
         }
      }

      &::before {
         content: '0' counter(item) '.';
         counter-increment: item;
         font-family: var(--font-family-benzin);
         font-size: 32px;
         font-weight: 500;
         line-height: 100%;
         letter-spacing: -0.02em;
         text-transform: uppercase;
         background: linear-gradient(180deg, #fff 0%, #a9abb5 100%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;

         @media (min-width:1024px) {
            font-size: 5.5vh;
         }
      }
   }

   &__content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #26262C;
      border-radius: 10px;

      @media (min-width:1024px) {
         padding: 3.4vh;
         flex: 0 0 42.7vh;

         .revers & {
            order: 1;
         }
      }

   }

   &__content-title {
      margin-bottom: 25px;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #ffffff;

      @media (min-width:1024px) {
         font-size: 3.1vh;
      }

      span {
         color: #A9ABB5;
      }
   }

   &__content-text {
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #A9ABB5;

      @media (min-width:1024px) {
         font-size: 2vh;
      }
   }

   .swiper-wrapper {
      counter-reset: item;
      display: block;

      @media (min-width:1024px) {
         display: flex;
      }
   }

   .swiper-fade {
      .swiper-slide {
         // transition: opacity 0s;
         opacity: 1 !important;

         .stages__content {
            opacity: 0;
            transition: opacity 0.3s 0s;
         }

         .stages__media {
            opacity: 0;
            transition: opacity 0.3s 0.3s;
         }

         .stages__number {
            opacity: 0;
            transition: opacity 0.3s 0.6s;
         }

         &.swiper-slide-active {
            .stages__content {
               opacity: 1;
               transition: opacity 0.3s 0.6s;
            }

            .stages__media {
               opacity: 1;
               transition: opacity 0.3s 0.9s;
            }

            .stages__number {
               opacity: 1;
               transition: opacity 0.3s 1.2s;
            }
         }
      }
   }
}