.features {
   --padding: 0;
   height: 90vh;
   width: 100vw;
   // transform: translateX(0);
   overflow: hidden;

   @media (min-width:1024px) {
      height: 100vh;
      --padding: 20px;
      position: fixed;
      top: 0;
      left: 0;
   }

   &.mebel--mod {
      background-color: #a9abb5;
   }

   &.remont--mod {
      background-color: #151519;
   }

   &__container {}

   &__swiper {
      margin-left: calc(var(--padding-container) * -1);
      position: relative;
      z-index: 8;
      padding-top: var(--padding, 0);
      padding-bottom: var(--padding, 0);
      width: 100vw;

      @media (min-width:1024px) {
         height: var(--vh);
         margin-left: 0;
         width: auto;
      }
   }

   &__card {
      padding-top: 50px;
      position: relative;
      display: flex;
      flex-direction: column;
      // height: var(--vh);

      @media (min-width:1024px) {
         padding-top: 0;
         height: 100%;
         flex-direction: row;
      }

      &:after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
      }
   }

   &__content {
      display: none;

      @media (min-width:1024px) {
         flex: 0 0 50%;
         display: flex;
      }
   }

   &__content-limit {
      pointer-events: none;
      padding-bottom: 8vh;
      padding-left: var(--padding-container);
      padding-right: var(--padding-container);
      position: absolute;
      top: var(--padding);
      left: 0;
      height: 90vh;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;
      opacity: 0;
      color: #ffffff;
      transition: opacity 0.3s;

      @media (min-width:1024px) {
         gap: 6.9vh;
         padding: 0;
         max-width: 40%;
         justify-content: center;
      }

      // &:last-child {
      //    top: auto;
      //    bottom: var(--padding);
      // }

      &.active {
         opacity: 1;
      }
   }

   &__title {
      font-size: 28px;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-decoration-skip-ink: none;

      @media (min-width:1024px) {
         font-size: 4.2vh;
      }

      span {
         text-decoration: underline;

         .mebel--mod & {
            color: #151519;
            text-decoration-color: #ffffff;
         }

         .remont--mod & {
            color: #A9ABB5;
            text-decoration-color: #ffffff;
         }
      }
   }

   &__text {
      font-size: 18px;
      line-height: 110%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 2.9vh;
      }
   }

   &__subtext {
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         font-size: 1.9vh;
      }

      .mebel--mod & {
         color: #5D606E;
      }

      .remont--mod & {
         color: #A9ABB5;
      }
   }

   &__image {
      // padding-top: 150px;

      @media (min-width:1024px) {
         padding-top: 0;
         flex: 0 0 50%;
      }
   }

   &__image-body {
      margin-right: calc(10vw * -1 + var(--padding));
      position: relative;
      height: 55vh;
      overflow: hidden;
      border-radius: 10px;

      @media (max-width:1023.98px) {
         .mebel--mod & {
            background: linear-gradient(#a9abb500, #A9ABB5);
         }

         .remont--mod & {
            background: linear-gradient(#15151900, #151519);
         }
      }

      @media (min-width:1024px) {
         background: none;
         height: 100%;
      }

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         z-index: -1;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__image-small {

      position: absolute;
      z-index: 2;
      height: 160px;
      transition: transform 1s 0.3s;
      border-radius: 6px;

      @media (min-width:1024px) {
         height: 29vh;
      }

      &.animate-1 {
         top: 0px;
         left: 10%;
         transform: translate(80%, 80%);

         .swiper-slide-active & {
            transform: translate(0%, 0%);
         }

         @media (min-width:1024px) {
            top: auto;
            bottom: 50%;
            left: 50%;
            transform: translate(30%, 100%);

            .swiper-slide-active & {
               transform: translate(-50%, 10%);
            }
         }


      }

      &.animate-2 {
         top: 0;
         left: 10%;
         transform: translate(0%, 80%);

         .swiper-slide-active & {
            transform: translate(100%, 0%);
         }


         @media (min-width:1024px) {
            top: auto;
            bottom: 10%;
            left: 50%;
            transform: translate(40%, 0%);

            .swiper-slide-active & {
               transform: translate(140%, -50%);
            }
         }
      }

      &.animate-3 {
         top: 0;
         right: 10%;
         transform: translate(-100%, 80%);

         .swiper-slide-active & {
            transform: translate(0%, 0%);
         }

         @media (min-width:1024px) {
            top: auto;
            bottom: 10%;
            right: 0;
            transform: translate(100%, 0);

            .swiper-slide-active & {
               transform: translate(0, -100%);
            }
         }
      }

      &.animate-4 {
         top: 0;
         right: 30%;
         transform: translate(100%, 30%);

         .swiper-slide-active & {
            transform: translate(0%, 0%);
         }

         @media (min-width:1024px) {
            top: auto;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 0%);

            .swiper-slide-active & {
               transform: translate(70%, -50%);
            }
         }
      }
   }

   &__pagination {
      padding: var(--padding-container);
      position: absolute;
      bottom: 0;
      z-index: 9;
      display: flex;
      gap: 30px;
      width: 100%;

      @media (min-width:1024px) {
         padding: 0;
         top: 50%;
         left: var(--padding);
         transform: translateY(-50%);
         flex-direction: column;
         justify-content: center;
         width: auto;
      }

      .swiper-pagination-bullet {
         cursor: pointer;
         width: 15px;
         height: 4px;
         border-radius: 10px;
         transition: height 0.3s, width 0.3s, background-color 0.3s 0.3s;

         .mebel--mod & {
            background-color: #151519;
         }

         .remont--mod & {
            background-color: #2f3139;
         }

         @media (min-width:1024px) {
            width: 8px;
            height: 15px;
         }

         &.swiper-pagination-bullet-active {
            width: 100%;

            .mebel--mod & {
               background-color: #ffffff;
            }

            .remont--mod & {
               background-color: #A9ABB5;
            }

            @media (min-width:1024px) {
               width: 8px;
               height: 63px;
            }
         }
      }



   }

   &__buttons {
      display: none;

      @media (min-width:1024px) {
         display: block;
      }
   }

   &__button {
      position: absolute;
      left: 25%;
      z-index: 2;
      font-family: var(--font-family-benzin);
      font-size: 55px;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      filter: blur(5px);

      transition: filter 0.3s, color 0.3s;

      .mebel--mod & {
         color: #151519;
      }

      .remont--mod & {
         color: #A9ABB5;
      }

      @media (min-width:1024px) {
         font-size: 3.8vh;
      }

      &.swiper-button-disabled {
         display: none;
      }

      span {
         display: none;
      }

      span.active {
         display: block;
      }

      &.prev {
         top: 0;
         transform: translate(-50%, -30%);
      }

      &.next {
         bottom: 0;
         transform: translate(-50%, 30%);
      }

      ._pc &:hover {
         filter: blur(0px);
         color: #ffffff;
      }
   }

}