.contacts {

   width: 100%;
   background-color: #a9abb5;
   transition: transform var(--tr-time);
   color: #ffffff;

   @media (min-width:1024px) {
      height: var(--vh);
      position: fixed;
      top: 0;
      left: 0;
   }

   &.remont--mod {
      background-color: #151519;
   }

   &__container {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__body {
      display: flex;
      flex-direction: column;

      @media (min-width:1024px) {
         height: var(--vh);
      }
   }

   &__grid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      min-height: 42vh;
      width: 100%;

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__contant {
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: space-between;
   }

   &__title {
      order: 1;
      font-family: var(--font-family-benzin);
      font-weight: 500;
      font-size: 35px;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      @media (min-width:1024px) {
         margin-bottom: 4vh;
         font-size: 5.5vh;
      }
   }

   &__info {
      order: 2;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.02em;
      text-transform: lowercase;


      @media (min-width:1024px) {
         display: flex;
         align-items: flex-end;
         gap: 40px;
         font-size: 3.8vh;
      }
   }

   &__time {
      font-weight: 300;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #151519;

      @media (min-width:1024px) {
         font-size: 1.5vh;
      }
   }

   &__links {
      order: 3;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width:1024px) {
         margin-bottom: 4vh;
         flex-direction: row;
      }

      a {
         padding: 10px 30px;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 20px;
         min-height: 50px;
         font-weight: 500;
         font-size: 16px;
         line-height: 130%;
         letter-spacing: -0.02em;
         border-radius: 100px;
         border: 2px solid rgba(21, 21, 25, 0.5);

         .remont--mod & {
            border-color: rgba(169, 171, 181, 0.5);
         }

         @media (min-width:1024px) {
            padding: 0.7vh 2.1vh;
            min-height: 4.7vh;
            font-size: 1.8vh;
         }

         svg {
            width: 20px;
            height: auto;

            .remont--mod & {
               path {
                  fill: #A9ABB5;
               }
            }

            @media (min-width:1024px) {
               width: 2.1vh;
            }
         }
      }
   }

   &__address {
      order: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-size: 24px;
      line-height: 130%;
      letter-spacing: -0.02em;

      @media (min-width:1024px) {
         flex-direction: row;
         font-size: 2.2vh;
         order: 4;
      }
   }

   &__address-line {
      flex: 1 1 auto;
      height: 1px;
      background-color: #ffffff;
      display: none;

      @media (min-width:1024px) {
         display: block;
      }
   }

   &__address-map {
      font-size: 18px;
      line-height: 130%;
      letter-spacing: -0.02em;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 0.2em;
      color: #151519;

      .remont--mod & {
         color: #A9ABB5;
      }

      @media (min-width:1024px) {
         font-size: 1.9vh;
      }
   }

   &__mail {
      order: 4;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: -0.02em;
      text-decoration: underline;
      text-decoration-color: #151519;
      font-style: normal;

      @media (min-width:1024px) {
         order: 5;
         font-size: 2.1vh;
      }

      span {
         color: #151519;

         .remont--mod & {
            color: #A9ABB5;
         }
      }
   }

   &__footer {
      margin-top: 20px;

      @media (min-width:1024px) {
         margin-top: 0;
         padding: 20px;
      }
   }

   &__footer-body {
      padding: 40px 20px;
      position: relative;
      min-height: 30vh;
      display: flex;
      flex-direction: column;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      background: linear-gradient(170deg, #3D3E42 0%, #000000 120%);

      .remont--mod & {
         background: linear-gradient(170deg, #A9ABB5 0%, #4A4B4F 120%);
      }

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-image: url('../img/png/ripples.png');

         .remont--mod & {
            opacity: 0.2;
         }
      }

      @media (min-width:1024px) {
         border-radius: 10px;
         padding: 0;
      }
   }

   &__footer-text {
      position: relative;
      z-index: 2;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      font-size: 36px;
      text-align: center;
      letter-spacing: -0.02em;

      .remont--mod & {
         color: #151519;
      }

      @media (min-width:1024px) {
         font-size: 5.5vh;
         flex-direction: row;
      }
   }

   &__bottom {
      position: relative;
      z-index: 2;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.02em;

      .remont--mod & {
         color: #151519;
      }

      @media (min-width:1024px) {
         font-size: 28px;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
      }
   }


   &__footer-logo {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      height: 100%;
      width: auto;
   }

   &__tabs {
      flex: 0 1 60%;
   }

   &__map {
      position: relative;
      padding-bottom: min(120%, 80vh);
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      display: none;

      @media (min-width:1024px) {
         padding-bottom: 0;
         height: 100%;
         filter: grayscale(80%);
      }

      iframe {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__map-button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
      min-width: 17vh;
   }

   &__form {
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #151519;
      font-size: 20px;

      @media (min-width:1024px) {
         font-size: 1.95vh;
      }

      .remont--mod & {
         color: #A9ABB5;
      }
   }

   &__form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      gap: 25px;

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__input {
      position: relative;
      flex: 1 1 1%;

      input {
         height: 6.3vh;
         width: 100%;
         padding: 0 2.1vh;
         border-radius: 10px;
         border: 2px solid rgba(0, 0, 0, 0.2);

         .remont--mod & {
            border-color: #A9ABB5;
         }

         &:not(:placeholder-shown)+span,
         &:focus+span {
            display: none;
         }
      }
   }

   &__placeholder {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: inherit;
      padding: 0 2.1vh;
      pointer-events: none;

      span {
         color: #ffffff;
      }
   }

   &__file {
      margin-bottom: 25px;
      cursor: pointer;
      display: block;
      position: relative;
      height: 6.3vh;
      width: 100%;
      padding: 0 2.1vh;
      border-radius: 10px;
      border: 2px solid rgba(0, 0, 0, 0.2);

      .remont--mod & {
         border-color: #A9ABB5;
      }

      .contacts__placeholder {
         span {
            font-size: 1.3vh;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: #5D606E;
         }
      }

      input {
         display: none;
      }
   }

   &__textarea {
      padding: 2.1vh;
      border-radius: 10px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      height: 17.2vh;
      width: 100%;

      .remont--mod & {
         border-color: #A9ABB5;
      }
   }

   textarea,
   input {
      font-size: inherit;
      color: inherit;

      &::-webkit-input-placeholder {
         font-size: inherit;
         line-height: 140%;
         letter-spacing: -0.02em;
         color: inherit;
      }

      &::-moz-placeholder {
         font-size: inherit;
         line-height: 140%;
         letter-spacing: -0.02em;
         color: inherit;
      }

      &::placeholder {
         font-size: inherit;
         line-height: 140%;
         letter-spacing: -0.02em;
         color: inherit;
      }
   }

   &__note {
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 1.2vh;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: inherit;

      span {
         color: #ffffff;
      }
   }

   &__buttons {
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .button {
         @media (max-width:1023.98px) {
            width: 100%;
         }
      }

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__check {
      cursor: pointer;
      display: flex;
      gap: 20px;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #5D606E;

      @media (min-width:1024px) {
         font-size: 1.4vh;
      }

      a {
         text-decoration: underline;
      }

      .checkbox {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 2.1vh;
         min-width: 2.1vh;
         height: 2.1vh;
         border: 2px solid rgba(0, 0, 0, 0.2);
         border-radius: 5px;
         transition: border-color 0.3s;

         .remont--mod & {
            border-color: #A9ABB5;
         }

         svg {
            width: 57%;
            opacity: 0;
            transition: opacity 0.3s;
         }
      }

      input {
         display: none;
      }

      input:checked+.checkbox {
         border-color: #ffffff;

         svg {
            opacity: 1;
         }
      }
   }

}